body { 
		
}

h1 {
		text-align: left;
		font-size: 225%;
}

p { 
	text-align: left; 
	width: 1000px;
}

h2 { 
	text-align: left; 
}

h3 { 
	text-align: left; 
	font-size: 150%;
}

h4 {
	text-align: left;
	font-size: 150%
}
